body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Chrome, Edge, Safari */
::-webkit-scrollbar {
  width: 14px;
}

::-webkit-scrollbar-track {
  background: #f5f6fa;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: #345ea0;
  border-radius: 10px;
  border: 3px solid #f5f6fa;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #2a4d80;
}

/* Firefox */
* {
  scrollbar-width: auto;
  scrollbar-color: #345ea0 #f5f6fa;
}
